[submodule "tests"]
	path = tests
	url = https://github.com/matter-labs/era-compiler-tests
	branch = main
[submodule "solidity"]
	path = solidity
	url = https://github.com/ethereum/solidity
	branch = develop
[submodule "era-contracts"]
	path = era-contracts
	url = https://github.com/matter-labs/era-contracts
	branch = release-v20-1.4.1-short-term-fee-model
