[submodule "tests"]
    path = tests
    url = https://github.com/s3bc40/era-compiler-tests
    branch = feat/support-0-4-2-and-3
[submodule "era-contracts"]
    path = era-contracts
    url = https://github.com/matter-labs/era-contracts
    branch = stable/evm-emulator
[submodule "era-solidity"]
    path = era-solidity
    url = https://github.com/matter-labs/era-solidity
    branch = 0.8.30
