[submodule "tests"]
    path = tests
    url = https://github.com/matter-labs/era-compiler-tests
    branch = az-fix-hardcoded-values
    update = none
[submodule "era-contracts"]
    path = era-contracts
    url = https://github.com/matter-labs/era-contracts
    branch = release-v28
    update = none
[submodule "era-solidity"]
    path = era-solidity
    url = https://github.com/matter-labs/era-solidity
    branch = 0.8.30
    update = none
[submodule "llvm"]
    path = llvm
    url = https://github.com/matter-labs/era-compiler-llvm
    branch = main
    update = none
