[package]
name = "compiler-tester"
version = "1.5.0"
authors = [
    "Oleksandr Zarudnyi <a.zarudnyy@matterlabs.dev>",
    "Anton Dyadyuk <a.dyadyuk@matterlabs.dev>",
]
license = "MIT OR Apache-2.0"
edition = "2021"
description = "Integration testing framework for ZKsync compilers"

[[bin]]
name = "compiler-tester"
path = "src/compiler_tester/main.rs"

[lib]
doctest = false

[dependencies]
structopt = { version = "0.3", default-features = false }
anyhow = "1.0"
which = "6.0"
colored = "2.1"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
md5 = "0.7"
hex = "0.4"
sha3 = "0.10"
ron = "0.8"
rlp = "0.5"
regex = "1.10"
glob = "0.3"
semver = { version = "1.0", features = ["serde"] }
itertools = "0.13"
once_cell = "1.19"
rayon = "1.10"
lazy_static = "1.4"
bincode = "1.3"
evm = { git = "https://github.com/rust-ethereum/evm", rev = "f7a23df6c478ca6a151af5f60e62944800529a61" }

zkevm_opcode_defs = { git = "https://github.com/matter-labs/era-zkevm_opcode_defs", branch = "v1.5.0" }
zkevm_tester = { git = "https://github.com/matter-labs/era-zkevm_tester", branch = "az-cpr-1735-migrate-to-the-new-assembler" }
vm2 = { git = "https://github.com/matter-labs/vm2", optional = true }

era-compiler-common = { git = "https://github.com/matter-labs/era-compiler-common", branch = "main" }
era-compiler-llvm-context = { git = "https://github.com/matter-labs/era-compiler-llvm-context", branch = "az-cpr-1735-migrate-to-the-new-assembler" }
era-compiler-solidity = { git = "https://github.com/matter-labs/era-compiler-solidity", branch = "az-cpr-1735-migrate-to-the-new-assembler" }
era-compiler-vyper = { git = "https://github.com/matter-labs/era-compiler-vyper", branch = "az-cpr-1735-migrate-to-the-new-assembler" }

# era-compiler-common = { path = "../../era-compiler-common" }
# era-compiler-llvm-context = { path = "../../era-compiler-llvm-context" }
# era-compiler-solidity = { path = "../../era-compiler-solidity" }
# era-compiler-vyper = { path = "../../era-compiler-vyper" }

solidity-adapter = { path = "../solidity_adapter" }
benchmark-analyzer = { path = "../benchmark_analyzer" }

[dependencies.web3]
version = "0.19"
default-features = false
features = ["http-rustls-tls", "test", "signing"]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["blocking"]

[dependencies.inkwell]
git = "https://github.com/matter-labs-forks/inkwell"
branch = "az-cpr-1735-migrate-to-the-new-assembler"
default-features = false
features = ["llvm17-0", "no-libffi-linking", "target-eravm", "target-evm"]
