[package]
name = "benchmark-analyzer"
version = "1.5.0"
authors = [
    "Oleksandr Zarudnyi <a.zarudnyy@matterlabs.dev>",
]
license = "MIT OR Apache-2.0"
edition = "2021"
description = "ZKsync toolchain benchmark analyzer"

[[bin]]
name = "benchmark-analyzer"
path = "src/benchmark_analyzer/main.rs"

[dependencies]
structopt = { version = "=0.3.26", default-features = false }
anyhow = "=1.0.89"
colored = "=2.1.0"

serde = { version = "=1.0.210", features = [ "derive" ] }
serde_json = "=1.0.128"
